/******************************************
*  Author : Elías Rodelo   
*  Created On : Fri May 18 2018
*  File : commons/_tooltip.scss
*******************************************/

.tooltip {
  margin: 1rem;

  &-inner {
    background-color: $dark;
    color: $white;
    padding: 0.5rem;
    width: 150px;
    font-size: 0.75em;
    border-radius: 3px;
    transition: 0.25s all linear;
  }

  &-arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-left: 10px transparent solid;
    border-right: 10px transparent solid;
    border-top: 10px $dark solid;
  }
}
