/******************************************
*  Author : Elías Rodelo   
*  Created On : Fri May 18 2018
*  File : _subscribe.scss
*******************************************/

.sub {
  width: 100%;
  margin: 2rem 0 0 0;
  height: 10vh;

  h6 {
    text-transform: uppercase;
    margin: 1rem 0 1rem 0;
  }

  h4 {
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: transparent;
    background: linear-gradient(
      137deg,
      rgba(0, 153, 216, 1) 0%,
      rgba(171, 0, 216, 1) 48%,
      rgba(216, 63, 0, 1) 85%
    );
    background-clip: text;
    -webkit-background-clip: text;
    padding: 0.5rem 1rem;
    line-height: 1;
    margin: 0;

    &::after {
      content: '';
      display: inline-block;
      height: 3px;
      background: linear-gradient(
        137deg,
        rgba(0, 153, 216, 1) 0%,
        rgba(171, 0, 216, 1) 48%,
        rgba(216, 63, 0, 1) 85%
      );
      width: 100%;
      opacity: 0;
      transition: 0.35s all;
      transform: scale(0, 1);
    }

    &::after {
      margin-top: 5px;
    }

    &:hover {
      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &-form {
    display: block;

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &-field {
    margin: 0;
    padding: 0.75rem 1.25rem;
    background-color: rgba(255, 255, 255, 0.25);
    border: 0;
    color: $white;
    min-width: 150px;
    transition: all 0.125s linear;

    &::placeholder {
      color: white;
    }

    &:active,
    &:focus {
      outline: 2px solid $primary;
    }

    @include mobile {
      padding: 0.5rem 1rem;
      font-size: 0.75em;
    }

    &-wrapper {
      display: inline-block;
      position: relative;
      margin: -1px;

      @include tablet {
        &:not(:first-child) {
          margin-top: 1rem;
        }
      }

      @include mobile {
        &:not(:first-child) {
          margin-top: 0.75rem;
        }
      }
    }

    + &-field {
      margin-left: 1rem;
    }

    @include tablet {
      width: 100%;
    }
  }

  &-submit {
    background-color: transparent;
    color: $white;
    padding: 0.65rem 1.25rem;
    border: 2px solid $primary;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 1rem;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    min-width: 130px;
    text-align: center;

    &[disabled='disabled'] {
      opacity: 0.5;
      pointer-events: none;
    }

    &:hover {
      background-color: transparent;
      text-shadow: nthree;

      &::before {
        left: 0%;
        right: auto;
        width: 100%;
      }
    }

    &:active,
    &:focus {
      outline: 0;
      animation: blink 2s infinite;
    }

    &::before {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 0px;
      z-index: -1;
      content: '';
      background-color: $primary;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }

    @include tablet {
      margin: 0;
      margin-top: 2rem;
    }

    @include mobile {
      padding: 0.5rem 1rem;
      font-size: 0.75em;
      margin-top: 1rem;
    }
  }

  .vue-loaders.ball-scale-multiple {
    width: 1em;
    height: 1em;

    > div {
      width: 1em;
      height: 1em;
    }
  }
}
