/******************************************
*  Author : Elías Rodelo   
*  Created On : Mon May 21 2018
*  File : _header.scss
*******************************************/

.header {
  .main-heading {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2.25em;
    text-shadow: 0 0 1px $dark-1, 1px 1px 1px $dark-2, 2px 2px 2px $dark-3;
  }

  @include tablet {
    margin-top: 225px;

    .main-heading {
      margin-top: 0;
      font-size: 1.75em;
    }
  }

  @include mobile {
    margin-top: 150px;
  }
}
