/******************************************
*  Author : Elías Rodelo   
*  Created On : Fri May 18 2018
*  File : layout/_index.scss
*******************************************/

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.125em;

  * {
    box-sizing: border-box;

    &::after,
    &::before {
      box-sizing: border-box;
    }
  }
}

#app {
  font-family: 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $white;
  position: relative;
  z-index: 1;
  max-width: 80vw;
  margin: 0 auto 0 auto;
}

#particles {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/logo-vertical-claro.png'),
    linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url('../assets/img/bg-ian.jpg');
  background-position: center top, center, center;
  background-size: 300px, 100%, 100%;
  background-repeat: no-repeat;
}

.loading-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: linear-gradient(
    137deg,
    rgba(0, 153, 216, 1) 10%,
    rgba(2, 103, 193, 1) 90%
  );

  &.animate {
    animation: fadeOut 1s ease;
  }

  &.hide {
    display: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.vue-loaders.ball-scale-multiple {
  width: 90px;
  height: 90px;

  > div {
    width: 90px;
    height: 90px;
  }
}
