/* Coolors Exported Palette - coolors.co/0267c1-004777-0099d8-d65108-a30000 */

/* HSL */
$color1: hsla(208%, 98%, 38%, 1);
$color2: hsla(204%, 100%, 23%, 1);
$color3: hsla(198%, 100%, 42%, 1);
$color4: hsla(21%, 93%, 44%, 1);
$color5: hsla(0%, 100%, 32%, 1);

/* RGB */
$color1: rgba(2, 103, 193, 1);
$color2: rgba(0, 71, 119, 1);
$color3: rgba(0, 153, 216, 1);
$color4: rgba(214, 81, 8, 1);
$color5: rgba(163, 0, 0, 1);

/* Shades */
$dark-1: rgba(0, 57, 81, 1);
$dark-2: rgba(0, 38, 54, 1);
$dark-3: rgba(0, 19, 27, 1);

/* Tones */
$gray-1: rgba(80, 137, 161, 1);
$gray-2: rgba(96, 134, 150, 1);
$gray-3: rgba(112, 131, 139, 1);

/* Tints */
$white-1: rgba(159, 217, 240, 1);
$white-2: rgba(191, 230, 245, 1);
$white-3: rgba(223, 242, 250, 1);

/* Base colors */
$primary: $color3;
$secondary: $color5;
$orange: $color4;
$red: $color5;
$blue: $color3;
$blue-dark: $color2;
$blue-light: $color1;
